glad-master/
glfw/docs/
glfw/CMakeFiles/
glfw/*.cmake
glfw/examples/
glfw/tests/
glfw/CMakeCache.txt
glfw/Makefile
glfw/src/CMakeFiles/
glfw/src/Makefile
glfw/src/cmake_install.cmake
glfw/src/glfw3.pc
glfw/src/glfw3Config.cmake
glfw/src/glfw3ConfigVersion.cmake
glfw/src/glfw_config.h
glm/.appveyor.yml
glm/.gitignore
glm/.travis.yml
lib/SDL2-2.0.5/build/CMakeFiles/3.7.2/
lib/glfw/install_manifest.txt
lib/glm/
lib/libpng-1.6.29/